<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meowstudio.calendar_organizer">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/OrangeTheme">

        <service
            android:name=".other.AlarmService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".other.ServiceAutoLauncher"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity android:name=".views.NewEventActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".views.EditEventActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>